################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


#/carte/.vs/carte
#/carte/.vs
#/import/Start.Core/bin
#/import/Start.Core/obj
#/import/Start.Core.Test/obj
#/import/Start.Core.Test/bin
#/import/Start.GoobBarber.ConsoleApp/obj


# Visual Studio 2015/2017 cache/options directory
.vs/
**/repo

# Build results
**/[Dd]ebug/
[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
**/[Bb]in/
**/[Oo]bj/
# [Ll]og/
# [Ll]ogs/
**/[Rr]eleases/
