:root {
    --main-bg-color: #f99d1c;
    --gray-color: #8e8b86;
    --new-bg-color: #2ac1dc;
    --waiting-bg-color: #ea3a7a;
    --approved-bg-color: #33FFA8;
    --delete-bg-color: #fe2323;
    --gallerie-bg-color: #ea3a7a;
}
